<%layout ('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/forms.css">
<link rel="stylesheet" href="/stylesheets/buttons.css">
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="card shadow" id="card_b">
            <div class="card-body">
                <h5 class="card-title">Register</h5>
                <div class="row">
                    <div class="text-black" id="main">
                    <form action="/register" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" placeholder="Username"
                        name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" placeholder="Email"
                        name="email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" placeholder="Password" name="password" required>
                    <div class="valid-feedback" >
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn" id="submit">Register</button>
                </div>
            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>