<%layout ('layout/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/buttons.css">
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="card shadow" id="card_b">
                <div class="card-body">
                    <h5 class="card-title">Add</h5>
                        <div class="row">
                            <div class="col-12 text-white">
                                <form action="/restaurants" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                                    <div>
                                        <label class="form-label" for="Name">Full Name</label>
                                        <input class="form-control" type="text" id="Name" placeholder="Name" name="restaurant[Name]" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="Location">Location</label>
                                        <input class="form-control" type="text" id="Location" placeholder="Location" name="restaurant[Location]"
                                            required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="MostPopular Item">MostPopularItem</label>
                                        <input class="form-control" type="text" id="MostPopular Item" placeholder="Item"
                                            name="restaurant[MostPopular]">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="mb-3" id="add_image">
                                        <label for="image" class="form-label">Add Image</label>
                                        <input class="form-control" type="file" id="image" name="image" multiple>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn" id="views">Add Restaurant</button>
                                    </div>
                                </form>
                                <footer>
                                    <form action="/restaurants" method="get">
                                        <button class="btn" id="submit">Cancel</button>
                                    </form>
                                </footer>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

